ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #ff6600;
    height: 78px;
}

a{
	color:white;
	text-decoration: none;
}
ul li{
	font-family: 'Varela Round', sans-serif;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	float: right;
	margin: 20px;
	padding: 10px;
	font-size: 20px;
}
li p{
	font-family: 'Varela Round', sans-serif;
	height: 30px;
	margin:0px;
	font-size: 30px;
}

li p,p b{
	color:white;
}

 img.pic{
 	height: 44px;
 	width: 74px;
 	margin: 0px;
 	padding:0px;
 	position: relative;
 	bottom: 15px;
 	left:55px;
 	
 }
 p span{
 	font-family: 'Varela Round', sans-serif;
 	font-size: 28px;
 }


.search1, input{
	float:right;
	height: 50px;
	width: 300px;
	margin-right:10px; 
}

input::-webkit-input-placeholder { 
	font-size: 20px; 
}

#orange b{
	color: #ff6600;
	font-size: 50px;
}
#web{
color: #41d0f4;
}
#app{
	color:#41d0f4;
}
#TM {
	font-size: 10px;
	margin: 0px;
	padding: 0px;
	position: relative;
	bottom: 30px;
	right:10px;
}

.text {
	margin:10%;
	padding-left: 0px;
 	text-align:end;
	font-size: 210%;
	color: #F08205;
}
p{
		font-family: 'Varela Round', sans-serif;
}

.button1{
	background-color:#ff6600;

}


.button2{
	background-color:#41d0f4;

}


.button1, .button2{
	font-family: 'Varela Round', sans-serif;
	margin: 10px;
	text-decoration:none;
	font-size: 16px;
	padding: 14px 40px;
	border-radius: 4px;
	width: 250px;
}


.buttons{
	float: right;
	clear:both;
	position: relative;
	height: 100px;
	right: 150px;
	bottom: 120px;
}

.buttons a{
	text-decoration: none;
	color: white;
}


.image{
	margin: 0px;
	padding:0%;
	position: relative;
    width: 600px;
    height: 400px;
    bottom: 340px;
}
.footer{
	border:solid;
	background-color:#41d0f4;
	border:none;
	height: 60px;
}